
  <%= form_for task do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: "form-control"  %>
      </div>
      <div class="text-right">
      <% if (@task.name.nil? && @task.description.nil?) %>
        <%= f.submit 'create', class: "btn btn-primary" %>
      <% else %>
        <%= f.submit 'update', class: "btn btn-danger" %>
        <% end %>
      </div>
  <% end %>

